body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.outer {
  display: flex;
  flex-direction: column;
  background: skyblue;
}

.title {
  font-weight: bold;
}

.outer > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0.5rem 4rem;
  padding: 1rem 2rem;
  border: 1px gray solid;
  border-radius: 4px;
}

.title {
  border: none !important;
  border-bottom: 2px gray solid !important;
  border-radius: unset !important;
}

.iframe {
  width: 600px;
  height: 400px;
}

.title:hover {
  background: skyblue !important;
}

.outer > div:hover {
  background: rgb(36, 136, 138);
  
}

.container {
  display: flex;
  flex-direction: row;
  white-space: pre;
  background: rgb(36, 136, 138);
}

.container > div {
  margin: 1rem;
}

@media only screen and (max-width: 700px) {
  .container {
    flex-direction: column;
  }

  .iframe {
    width: 100%;
    height: 250px;
  }
}
